# Terraform sensitive files
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/
.env

# Ignore crash logs and temporary files
*.log
*.bak
*.tmp
*.swp


# Optional: Ignore OS-specific files (OS / editor files)
*.DS_Store
*.vscode/
*.idea/
Thumbs.db
